<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPTIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>timeSwitch</string>
			<key>label</key>
			<string>Hide Time</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>dndSwitch</string>
			<key>label</key>
			<string>Hide DND icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>airplaneModeSwitch</string>
			<key>label</key>
			<string>Hide Airplane Mode icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>signalStrengthSwitch</string>
			<key>label</key>
			<string>Hide Signal Strength icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>carrierTextSwitch</string>
			<key>label</key>
			<string>Hide Carrier Text</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>wifiSwitch</string>
			<key>label</key>
			<string>Hide Wifi icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>batteryIconSwitch</string>
			<key>label</key>
			<string>Hide Battery icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>batteryTextSwitch</string>
			<key>label</key>
			<string>Hide Battery text</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>bluetoothSwitch</string>
			<key>label</key>
			<string>Hide Bluetooth icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>alarmSwitch</string>
			<key>label</key>
			<string>Hide Alarm icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>locationSwitch</string>
			<key>label</key>
			<string>Hide Location icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>orientationLockSwitch</string>
			<key>label</key>
			<string>Hide Orientation Lock icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>screenMirroringSwitch</string>
			<key>label</key>
			<string>Hide Screen Mirroring icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritems</string>
			<key>key</key>
			<string>vpnSwitch</string>
			<key>label</key>
			<string>Hide VPN icon</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritems/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Apply Changes!</string>
		</dict>
		<dict>
			<key>label</key>
			<string>About me</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitterContactMethod</string>
			<key>label</key>
			<string>Follow me on Twitter!</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>githubContactMethod</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>paypalDonateMethod</string>
			<key>label</key>
			<string>Buy me a coffee!</string>
			<key>icon</key>
			<string>paypal.png</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Made with 💖 by Chashmeet Singh</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>HideStatusBarItems</string>
</dict>
</plist>
