Package: com.chashmeet.hidestatusbaritems
Name: HideStatusBarItems
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A simple tweak which allows you to hide specific elements in the status bar.
Maintainer: Chashmeet Singh <chashmeetsingh@gmail.com>
Author: Chashmeet Singh <chashmeetsingh@gmail.com>
Section: Tweaks
Version: 1.0.0
Installed-Size: 436
